*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
}
.montserrat-alternates-thin {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    background-color: #FADECB;
}
.header{
    margin-left: 118px;
    background-color: #fff;
    width: 1683px;
    height: 155px;
    display: flex;
}
.header__dog{
    max-width: 82px;
    max-height: 82px;
}
.header__general{
    margin-left: 20px;
    margin-top: 23px;
    display: flex;
}
.header__dog-text{
    margin-top: 30px;
}
.header__menu{
    display: flex;
    margin-top: 50px;
    margin-left: 90px;
}
.header__catalog{
    font-weight: 154;
    font-size: 32px;
    color:#000;
    margin-left: 45px;
}
.header__icons{
    display: flex;
    margin-left: 41px;
    margin-top: 45px;
    gap: 31px;
}
.header__block{
    display: flex;
    margin-left: 55px;
    margin-top: 51px;
}
.header__searchs{
    width: 233px;
    height: 43px;
    border-radius: 4px;
    background-color:#FFE0E0 ;
    border: solid #D4B4B4;
}
.header__search-btn{
    border: none;  
    width: 58px;
    height: 40px;
    border-radius: 20px;
    margin-left: 8px;
    margin-top: 4px;
    background-color: #FFE4E4;
}
.header__a{
    color: #000;
}
.general{
    background-color: #FFEFE7;
    width: 1683px;
    height: 1100px;
    margin-left: 118px;
    display: flex;
}
.general__wrap{
    margin-top: 95px;
    margin-left: 100px;
}
.general__text-block{
    justify-content: center;
    width: 50%;
    float: left;
    font-size: 80px;
    color: #F16C99;
}
.general__nam{
    margin-left: 150px;
    color: #EC3674;
    font-size: 128px;
}
.general__img{
    margin-top: 50px;
    width: 50%;
    float: right;
}
.general__btn{
    background-color: #FAA9A9;
    border: none;
    width: 507px;
    height: 119px;
    border-radius: 10px;
    font-size: 40px;
    margin-left: 30px;
    margin-top: 88px;
}
.tovar__wrap{
    margin-top: 132px;
}
.tovar__title{
    margin-left: 685px;
}
.tovar__tit{
    font-size: 64px;
    font-weight: 400;
}
.tovar__razdel{
    margin-top: 55px;
    display: flex;
    gap: 97px;
    margin-left: 490px;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 19px;
}
.tovar__giper{
    color: #000;
}
.tovar__cart1{
    margin-left: 111px;
    margin-bottom: -23px;
    background-color: #fff;
    width: 390px;
}
.tovar__text-block1{
    font-weight: 500;
}
.tovar__cart-p1{
    font-size: 20px;
    margin-bottom: 13px;
}
.tovar__cart-p2{
    font-size: 20px;
    color: #000;
    opacity: 50%;
    margin-bottom: 21px;
}
.tovar__cart-p3{
    font-size: 24px;
}
.tovar__buy1{
    position: absolute;
    margin-left: 337px;
    margin-top:-55px;
}
.tovar__cart2{
    position: absolute;
    margin-left: 547px;
    margin-top: -529px;
    background-color: #fff;
    width: 390px;
}
.tovar__cart-p4{
    font-size: 20px;
    color: #000;
    opacity: 50%;
    margin-bottom: 15px; 
}
.tovar__cart3{
    position: absolute;
    margin-left: 984px;
    margin-top: -529px;
    background-color: #fff;
    width: 390px;
}
.tovar__cart4{
    position: absolute;
    background-color: #fff;
    margin-left: 1416px;
    margin-top: -529px;
    max-width: 390px;
}
.end{
    margin-top: 269px;
}
.end__title{
    font-size: 64px;
    margin-left: 50px;
}
.end__problem-text{
    font-size: 32px;
    margin-left: 50px;
}
.end__btn{
    width: 454px;
    height: 97px;
    background-color: #FFFBFB;
    border: none;
    border-radius: 15px;
    margin-left: 208px;
    margin-top: 56px;
    font-size: 48px;
    margin-bottom: 77px;
}
.end__section{
    background-color: #FFFAF8;
    width: 1920px;
    height: 439px;
}
.end__vibor{
    font-size: 48px;
    font-weight: 500;
    margin-top: 13px;
    margin-left: 621px; 
}
.end__operator{
    margin-left: 330px;
    margin-top: 20px;
}
.end__otvet{
    margin-left: 177px;
    margin-top: 9px;
    font-size: 32px;
}
.end__vopr{
    margin-left: 165px;
    margin-top: 23px;
    font-size: 16px;
}
.end__hr1{
    position: absolute;
    margin-left: 704px;
    margin-top: -140px;
}
.end__car{
    position: absolute;
    margin-left: 892px;
    margin-top: -170px;
}
.end__texts2{
    position: absolute;
    margin-left: 600px;
    margin-top: -86px;
}
.end__hr2{
    position: absolute;
    margin-left: 1173px;
    margin-top: -140px;
}
.end__badge{
    position: absolute;
    margin-left: 1381px;
    margin-top: -160px;
}
.end__texts3{
    position: absolute;
    margin-left: 1100px;
    margin-top: -86px;
}
.footer__wrap{
    display: flex;
    width: 1920px;
    height: 214px;
    background-color: #F8E190;
}
.footer__title{
    margin-left: 161px;
    margin-top: 28px;
}
.footer__icons{
    position: absolute;
    margin-top: 90px;
    margin-left: 190px;
}
.footer__menu{
    margin-left: 42px;
    margin-top: 35px;
}
.footer__men{
    font-size: 20px;
}
.footer__catalog{
    margin-top: 35px;
    margin-left: 53px;
}
.footer__catal{
    font-size: 20px;
}
.footer__contact{
    margin-top: 35px;
    margin-left: 53px;
}
.footer__cont{
    font-size: 20px;
}
.footer__ol{
    color: #616161;
    font-size: 14px;
}